
#cartContainer img{
    max-width: 50px;
    max-height: 50px;
}

#cartContainer td{
    vertical-align: middle;
    text-align: center;
}

#cartContainer td textarea{
    width: 100%;
}

.alert {
    display: none;
}

#cartContainer #couponImg{
    max-width: 500px;
    max-height: 500px;
}