#catalog li {
    list-style-type: none;
}

#catalog ul {
    padding-left: 15px;
}

#categoriesUl > li {
    cursor: pointer;
}

/* OLD SITE STYLES */
#events {
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    float: left;
    box-sizing: border-box;
}

#products {
    padding: 20px;
    padding-top: 0px;
    float: left;
    box-sizing: border-box;
}

#items {
    border: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
    float: left;
    box-sizing: border-box;
}

.container > div {
    margin: 10px;
}

.eventContainer a img{
    max-width: 250px;
    max-height: 250px;
}

.eventContainer {
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
}

.productContainer a img{
    max-width: 250px;
    max-height: 250px;
}

.productContainer {
    border: 1px solid #ccc;
    text-align: center;
    width: 45%;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.itemContainer a img{
    max-width: 250px;
    max-height: 250px;
}

.itemContainer {
    margin: 10px;
    text-align: center;
    width: 45%;
    box-sizing: border-box;
    display: inline-block;
}