<%inherit file="base.htm" />

<%block name="title">
    <title>Change Password | Colonial Heritage Foundation</title>
    <meta name="description" content="Change the account password.">
</%block>

<%block name="content">
    <div class="content">
        <h1>Change Password</h1>
        <form method="post">
            <table class="myTable">
                ${ form }
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</%block>